{% load static %}
<nav class="bg-gray-900 shadow-lg">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <a href="{% url 'main:info_view' %}" class="flex items-center">
            <img src="{% static 'image/shoplogo.png' %}" class="mr-3 h-6 sm:h-9" alt="App Logo" />
            <span class="self-center text-xl font-semibold text-white">E-Commerce</span>
        </a>
        <div class="flex items-center lg:order-2">
            <span class="text-white mr-4">Welcome, {{ user.username }}</span>
            <a href="{% url 'main:logout' %}" class="bg-red-500 text-white rounded-lg text-sm px-4 lg:px-5 py-2.5">Logout</a>
        </div>
        <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1">
            <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                <li>
                    <a href="{% url 'main:info_view' %}" class="block py-2 pr-4 pl-3 text-gray-400 hover:text-white">Home</a>
                </li>
                <li>
                    <a href="{% url 'main:add_product' %}" class="block py-2 pr-4 pl-3 text-gray-400 hover:text-white">Add Products</a>
                </li>
                <li>
                    <a href="{% url 'main:error' %}" class="block py-2 pr-4 pl-3 text-gray-400 hover:text-white">Categories</a>
                </li>
                <li>
                    <a href="{% url 'main:error' %}" class="block py-2 pr-4 pl-3 text-gray-400 hover:text-white">Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
